



<div class="w3-card-4 ">

<header class="w3-container top-card">
  <h1>
   Login
  </h1>
</header>

<form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
    
  </form>
  <footer class="w3-container bottom-card">
  <a class="signup" type="button" href="/signup">Not a member? Sign up here!</a>
</footer>
</div>
</div>









{{!-- <div class="card"></div> --}}
  {{!-- <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>  --}}

<script src="/js/login.js"></script>